@{
	Layout = null;
}
<!doctype html>
<head>
	<title>Authentication</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="~/css/login.css">
</head>
<html>
	<body>
	<section>
	<h2 class="inputEmPass">Input your email and password to login</h2>
	<form method="post">
		<p>
			<input class = "em" name="email" placeholder="Email"/>
		</p>
		<p>
			<input class = "pass" type="password" name="password" placeholder="Password" />
		</p>
		<div class="bt"><input class = "btns" type="submit" value="Sign in"/></div>
	</form>
	<h1 class="FIDOsign">Or sign in with FIDO</h1>
	<form method="post" action="~/fido/login">
		<p>
			<input class = "em" name="userId" placeholder="Email" />
		</p>
		<div class="bt"><input class = "btns" type="submit" value="Sign with FIDO"/></div>
	</form>
	</section>
	</body>
</html>