@{
	Layout = null;
}

<!doctype html>
<head>
	<meta charset="utf-8" />
	<title>Registration page</title>
</head>
<html>
	<body>
		<form method="post" action="Register">
			<label>Credential name</label>
			<input name="name" />
			<button>Register</button>
		</form>
	</body>
</html>
