@using System.Security.Claims
@{
	Layout ="~/Views/_Layout.cshtml";
}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Main page</title>
		<link rel="stylesheet" type="text/css" href="~/css/main.css">
	</head>
	<body>
		<section>
		<h1 class="mainPage">Main page</h1>
		<div class="buttons">
		<form method="get" action ="~/Account/Login">
			<button class="BtnLog">Login</button>
		</form>
			<form method="get" action ="~/Fido/StartRegistration">
			<button class="BtnRegCred">Register a new credential</button>
		</form>
			<form method="get" action ="~/Account/Logout">
			<button class="BtnLog">Log out</button>
		</form>
		</div>
		</section>
	</body>
</html>
