@{
	Layout = null;
}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Index</title>
	</head>
	<body>
		<h1>Main page</h1>
		<form method="get" action ="~/Fido/StartRegistration">
			<button>Register a new credential</button>
		</form>
		<form method="get" action ="~/Home/Profile">
			<button>Profile</button>
		</form>
	</body>
</html>
